ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
	float: left;
}

li i {
  display: block;
  padding: 3px;
  text-decoration: none;
}

li i:hover{
	cursor: pointer;
}

.rated{
  color: gold;
}

a{
  text-decoration: none;
}